In [12]:
import pandas as pd 
import numpy as np

df=pd.read_csv("swiggy_file.csv")

df

df.head()

,Restaurant Name,Cuisine,Rating,Number of Ratings,Average Price,Number of Offers,Offer Name,Area,Pure Veg,Location
0,La Pino'Z Pizza,"Pizzas, Pastas",4.0,10+ ratings,₹250 for two,2,FLAT DEAL\nFLAT ₹125 OFF\nUSE FLAT125ABOVE ₹69...,LALA LAJPAT RAI MARKET,No,Abohar
1,The Second Wife,"Indian, North Indian",3.6,50+ ratings,₹250 for two,2,"30% OFF UPTO ₹75\nUSE TRYNEWABOVE ₹149, FLAT ₹...",Central Abohar,No,Abohar
2,Tasty Bites,"Italian, Beverages",3.8,10+ ratings,₹200 for two,1,FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500,Central Abohar,Yes,Abohar
3,Food Studio,"Pizzas, Burgers",3.5,8 ratings,₹49 for two,5,"50% OFF UPTO ₹100\nUSE TRYNEWABOVE ₹129, FLAT ...",Central Abohar,Yes,Abohar
4,Roll Express,"Fast Food, Snacks",4.3,100+ ratings,₹200 for two,2,DEAL OF DAY\n10% OFF UPTO ₹40\nUSE STEALDEALAB...,Circular Road,No,Abohar

In [5]:
df.tail()

,Restaurant Name,Cuisine,Rating,Number of Ratings,Average Price,Number of Offers,Offer Name,Area,Pure Veg,Location
140652,Yummy Momo'S Cafe,"Chinese, Fast Food",4.6,3 ratings,₹100 for two,3,"20% OFF UPTO ₹50\nUSE TRYNEWABOVE ₹149, FLAT ₹...",Yavatmal Locality,Yes,Yavatmal
140653,CAFE FIRST FLOOR,"Beverages, Snacks",3.2,3 ratings,₹200 for two,2,"FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500, FLAT ₹50...",Yavatmal City,Yes,Yavatmal
140654,Cafe Coffee Aani Barach Kahi,Snacks,3.2,50+ ratings,₹150 for two,2,"FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500, FLAT ₹50...",Yavatmal Locality,Yes,Yavatmal
140655,Patil Family Restaurant,"North Indian, Biryani",4.3,9 ratings,₹200 for two,2,"FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500, FLAT ₹50...",Yavatmal Locality,No,Yavatmal
140656,Prabhakar Mama Cha Dhaba,North Indian,--,Too Few Ratings,₹350 for two,2,"FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500, FLAT ₹50...",Yavatmal Locality,No,Yavatmal

In [6]:
df.shape

(140657, 10)

In [8]:
df.describe()

       Number of Offers
count     140657.000000
mean           3.187890
std            1.583943
min            0.000000
25%            1.000000
50%            4.000000
75%            5.000000
max            5.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140657 entries, 0 to 140656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Restaurant Name    140657 non-null  object
 1   Cuisine            140630 non-null  object
 2   Rating             140657 non-null  object
 3   Number of Ratings  126115 non-null  object
 4   Average Price      140657 non-null  object
 5   Number of Offers   140657 non-null  int64
 6   Offer Name         138849 non-null  object
 7   Area               140655 non-null  object
 8   Pure Veg           140657 non-null  object
 9   Location           140657 non-null  object
dtypes: int64(1), object(9)
memory usage: 10.7+ MB

In [10]:
df.isnull().sum()

Restaurant Name          0
Cuisine                 27
Rating                   0
Number of Ratings    14542
Average Price            0
Number of Offers         0
Offer Name            1808
Area                     2
Pure Veg                 0
Location                 0
dtype: int64

In [18]:
min(df['Restaurant Name'])

'007 Punjabi Dhaba'

In [19]:
max(df['Restaurant Name'])

'Zza Bar'